
@model Baya.Core.ViewModels.SubCategoryViewModel
@{
    Layout = null;
}
<form id="CategorySubForm" method="post">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="Level" value="@ViewBag.Level" />

    <div class="form-group">
        <div class="form-line">
            <input asp-for="CategoryName" id="categoryname" maxlength="50" class="form-control"
                   autocomplete="off" placeholder="نام زیر دسته را وارد کنید" required>
        </div>
    </div>


    @if (ViewBag.Level == 2)
    {

        <div class="form-group">
            <div class="row clearfix">
                <div class="col-md-5">
                    <label class="">انتخاب دسته اصلی</label>
                    <select class="form-control" id="maincategory" asp-items="ViewBag.MainCategory">
                    </select>


                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row clearfix">
                <div class="col-md-5">
                    <label class="">انتخاب زیر دسته اول</label>
                    <select class="form-control" id="ParentId" asp-for="ParentId" asp-items="ViewBag.FirstSubCategory">
                    </select>
                </div>
            </div>
        </div>

    }


    <div class="modal-footer">
        <button type="button" onclick="return ValidateFormFirstSub()" class="btn btn-info waves-effect">ذخیره</button>
        <button type="button" class="btn btn-danger waves-effect"
                data-dismiss="modal">
            لغو
        </button>
    </div>
</form>


<script>


    $("#maincategory").change(function () {
        $("#ParentId").empty();
        $.getJSON("/AdminPanel/Category/GetSubCategory/" + $("#maincategory :selected").val(),
            function (data) {
                $.each(data,
                    function () {
                        $("#ParentId").append('<option value= ' + this.value + '>' + this.text + '</option>');
                    })
            }

        )
    });




    var Category_Input_Name = document.getElementById('categoryname');


    function ValidateFormFirstSub() {
        let Category_Name = Category_Input_Name.value;

         if (Category_Name.length > 50) {
            Alert('نام دسته بندی نمی تواند بیشتر از 50 کاراکتر باشد');
            return false;
        }
        let Form = $("#CategorySubForm")[0];
        let Form_Data = new FormData(Form);
        $.ajax({
            url: '/AdminPanel/Category/AddAndUpdateSecondSub',
            data: Form_Data,
            contentType: false,
            processData: false,
            type: 'POST',
            success: function (data) {
                switch (data) {
                    case 0:
                        Alert('لطفا نام دسته بندی را وارد نمایید');
                        return false;
                    case 1:
                        Alert('نام دسته بندی وارد شده قبلا در سیستم ثبت شده است نام دیگری را وارد نمایید');
                        return false;
                    case 2:
                        Alert('زیر دسته اول برای محصول انتخاب شود');
                        return false;

                    default:
                        window.location.href = data.redirectToUrl;
                }            

            }
        });

    }

</script>


