<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - بایا وب</title>
    <link rel="icon" href="~/panel/adminpanel/img/favicon.ico" type="image/x-icon">

    <link href="~/site/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/site/css/rtl.css" rel="stylesheet" />
    <link href="~/site/css/fonticon.css" rel="stylesheet" />
    <link href="~/site/css/responsive.css" rel="stylesheet" />

    <link href="~/site/css/plugins.css" rel="stylesheet" />
    <link href="~/site/css/style.css" rel="stylesheet" />
    <link href="~/site/css/toastr.css" rel="stylesheet" />
    <link href="~/site/css/swiper.css" rel="stylesheet" />


    @RenderSection("Styles", false)
</head>





<body ng-app="app">
    <style>
        body {
            font-family: "Shabnam",Tahoma;
        }
    </style>
    <header>       
        <partial name="_Header" />
        <!--        menu------------------------------->
        @await Component.InvokeAsync("CategoryComponent")
    </header>
    <div class="nav-categories-overlay"></div>
    <!-- cart mini area start -->

    @if (User.Identity.IsAuthenticated)
    {
        <div class="cartmini__area">
            <div class="cartmini__wrapper">
                <div class="cartmini__title">
                    <h4>سبد خرید</h4>
                </div>
                <div class="cartmini__close">
                    <img class="cartmini__close-btn" src="~/site/img/icon/btn-icons/close.png" />
                </div>
                <div id="basket-user">
                    @await Component.InvokeAsync("BasketComponent")
                </div>
            </div>
        </div>
    }



    <!-- sidebar area end -->
    <!-- User cart mini area start -->
    <!-- User sidebar area end -->
    <!-- Favorite cart mini area start -->
    @if (User.Identity.IsAuthenticated)
    {
        <div class="favoritecartmini__area">
            <div class="favoritecartmini__wrapper">
                <div class="cartmini__title">
                    <h4>لیست علاقه مندی های کاربر</h4>
                </div>
                <div class="cartmini__close">
                    @*<button type="button" class="cartmini__close-btn"><i class="fas fa-times"></i></button>*@
                    <img class="cartmini__close-btn" src="~/site/img/icon/btn-icons/close.png" />
                </div>
                <div id="favarite-user">


                    @await Component.InvokeAsync("FavoriteComponent")

                </div>
            </div>
        </div>
    }







    <!-- Favorite sidebar area end -->

    <div class="body-overlay"></div>
    <div class="search-overlay"></div>
    <!-- sidebar area end -->
    <!-- cart mini area end -->
    <div class="container-fluid">
        <main id="main" role="main" class="pb-3 mt-3">
            @RenderBody()
        </main>
    </div>

    

    <footer class="border-top footer text-muted">


        <partial name="_Footer" />
        <partial name="_Modal" />
       

        <!-- Login Area Start -->
        <partial name="_LoginModal" />
        <!-- Login Area End -->


    </footer>





    <script src="~/site/js/jquery.min.js"></script>
    <script src="~/site/js/modernizr-3.7.1.min.js"></script>
    <script src="~/site/js/bootstrap.min.js"></script>
    <script src="~/site/js/toast.js"></script>
    <script src="~/site/js/swiper.min.js"></script>
    <script src="~/site/js/app.js"></script>
    <script src="~/site/js/angular.min.js"></script>
    <script src="~/site/js/myjscode.js" asp-append-version="true"></script>
    <script src="~/site/js/jquery-confirm.min.js"></script>


   

    @RenderSection("Scripts", required: false)


   

</body>
</html>
